body {

    overflow-x: hidden;

    margin-top: 90px;

    height:100vh;

}

.youtube-logo2 {

    margin:10px 20px;

    

    background: -webkit-linear-gradient(#FFFFFF, #7FFF8F);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    

    animation: 0.5s ease-out 0s 1 alternate text-show;

  }

  .youtube-back-icon {

    height:40px;

    filter:invert();

    transition: all 1s;

  }

  .youtube-text {

    color:var(--text-color);

    margin-left:15px;

    font-family:'Montserrat';

    font-size:30px;

    font-weight: 700;

    transition: all 1s;

    text-align: center;

  }

  @keyframes text-left-show {

    0% {

      opacity:0;

      margin-left:-100px;

    }

    100% {

      opacity:1;

      margin-left:15px;

    }

  }

.bottom-navbar {

}



.videos-grid {

  display:grid;

  grid-template-columns: 1fr;

  align-items: center;

  justify-content: space-between;

  column-gap: 10px;

  row-gap: 10px;

}

.video {

  margin-top: 20px;

}

.video-thumbnail {

  width: 100vw;

  height: calc(100vw * 0.5625);

  object-fit: cover;

  border-radius: 10px;

}

.video-duration {

  position:absolute;

  background: black;

  color:white;

  padding:5px 10px;

  bottom:20px;

  right:10px;

  border-radius: 5px;

}

.youtube-note2 {

  color:var(--text-color);

  margin:10px;

  text-align: center;

  font-family:'Montserrat';

}

.video-author-avatar {

  width:40px;

  border-radius: 50%;

}

.video-bottom-left-part {

  margin-left: 5px;

}

.video-bottom-part {

  display:grid;

  grid-template-columns: 1fr;

  margin-top:5px;

}

.video-bottom-right-part {

  margin:10px;

  margin-top:0;

}

.video-bottom-right-top-part {

  color:var(--text-color);

  margin:0;

  font-family: 'Montserrat';

  width:100%;

  margin-bottom: 5px;

  font-size: 15px;

  font-weight: 500;

}

.video-bottom-right-center-part {

  color:var(--text-gray2-color);

  font-size: 14px;

  font-family: 'Montserrat';

}

.video-bottom-right-bottom-part {

  color:var(--text-gray2-color);

  font-size: 14px;

  font-family: 'Montserrat';

}

.youtube-noquote-note {

  color:white;

  text-align: center;

  font-family: 'Montserrat';

  

}
